*$py.class
*.ckpt
*.cover
*.egg
*.egg-info/
*.gz
*.manifest
*.mo
*.pot
*.prof
*.pt
*.py[cod]
*.sage.py
*.so
*.spec
*.tar.gz
*.zip
*ubyte
.DS_Store
.Python
.cache
.coverage
.coverage.*
.data/
.eggs/
.env
.forked/
.hypothesis/
.idea/
.installed.cfg
.ipynb_checkpoints
.mypy_cache/
.neptune/
.pytest_cache/
.python-version
.ropeproject
.spyderproject
.spyproject
.tags
.tox/
.venv
.vscode/
/site
Datasets/
ENV/
MNIST/
__pycache__/
_build/
app/models/
build/
celerybeat-schedule
cifar-10-batches-py
coverage.xml
develop-eggs/
dist/
downloads/
eggs/
env/
htmlcov/
ide_layouts/
legacy/checkpoints/
lib/
lib64/
lightning_logs/
ml-runs/
mlruns/
mnist/
model_weights/
nosetests.xml
parts/
pip-delete-this-directory.txt
pip-log.txt
pip-wheel-metadata/
pytorch\ lightning
run_configs/
sdist/
tags
test-reports/
test_tube_*/
tests/save_dir
tests/tests/
tests/tests_tt_dir/
timit_data/
venv/
wandb
wheels/
